/*! LutraChat */
html,
body {
  padding: 0;
  margin: 0;
  color: white;
  background-color: transparent;
}

.badges__badge {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 3px;
}

.badges__badge--twitch {
  position: relative;
  top: 2px;
}

.chat__message--mixer .badges {
  display: none;
}

.chat__message--mixer .chat__message__username--Subscriber .badges {
  display: inline-block;
}

.emoticon,
.emoji {
  position: relative;
  top: -2px;
  display: inline-block;
  height: 1.5em;
  margin-top: -5px;
  margin-right: 0;
  margin-bottom: -5px;
  margin-left: 0;
  background-position: center center;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.chat__message {
  padding: 7px;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.45);
}

.chat__message::before {
  display: inline-block;
  width: 15px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
}

.chat__message--mixer::before {
  height: 10px;
  margin-right: 6px;
  background-image: url("../assets/mixer.png");
}

.chat__message--twitch::before {
  position: relative;
  top: 2px;
  height: 14px;
  margin-right: 7px;
  background-image: url("../assets/twitch.svg");
}

.chat__message--action {
  font-style: italic;
}

.chat__message__inner {
  display: inline;
}

.chat__message__username {
  display: inline-block;
  margin-right: 5px;
  font-weight: 700;
}

.chat__message__username--User {
  color: #39acd5;
}

.chat__message__username--Pro {
  color: #b042d1;
}

.chat__message__username--Mod, .chat__message__username--ChannelEditor {
  color: #34e537;
}

.chat__message__username--Staff {
  color: #dcb338;
}

.chat__message__username--Owner {
  color: white;
}

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  font-size: 14pt;
  color: white;
  overflow: hidden;
}

.chat {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
  color: white;
  overflow: hidden;
}
