/*! LutraChat */
html,
body {
  padding: 0;
  margin: 0;
  color: white;
  background-color: transparent;
}

.chatusername {
  display: inline-block;
  font-weight: 700;
}

.chatusername.User {
  color: #39acd5;
}

.chatusername.Pro {
  color: #b042d1;
}

.chatusername.Mod, .chatusername.ChannelEditor {
  color: #34e537;
}

.chatusername.Staff {
  color: #dcb338;
}

.chatusername.Owner {
  color: white;
}

.chatusername.Subscriber .badge {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.badge {
  display: none;
}

.mixer .emoticon {
  position: relative;
  top: -2px;
}

.chat-line {
  display: inline;
}

.chat-line[data-faded] {
  opacity: 0.8;
}

.chat-line.chat-notice {
  font-weight: 300;
  opacity: 0.7;
}

.chat-line.chat-notice[data-level='-4'] {
  color: #765eed;
  font-style: italic;
}

.chat-line.chat-notice[data-level='-3'] {
  color: #1aa2e6;
  font-style: italic;
}

.chat-line.chat-notice[data-level='-2'] {
  color: #1ae6a2;
  font-style: italic;
}

.chat-line.chat-notice[data-level='-1'] {
  color: #5ee61a;
  font-style: italic;
}

.chat-line.chat-notice[data-level='1'] {
  color: #ffea00;
}

.chat-line.chat-notice[data-level='2'] {
  color: #ff8000;
}

.chat-line.chat-notice[data-level='3'] {
  color: red;
}

.chat-line.chat-notice[data-level='4'] {
  color: red;
  font-weight: 700;
}

.chat-line.chat-notice[data-faded] {
  opacity: 0.3;
}

.chat-line.chat-timedout {
  font-size: 0.75em;
  opacity: 0.2;
}

.chat-line.chat-cleared {
  font-size: 0.33em;
  opacity: 0.2;
}

.chat-line:not(.chat-action) .chat-colon:after {
  content: '';
}

.chat-line:not(.chat-action) .chat-message {
  color: inherit !important;
}

.chat-channel {
  margin-right: 0.375em;
  font-weight: 300;
  opacity: 0.6;
}

.chat-name {
  font-weight: 700;
}

.chat-colon {
  margin-right: 0.375em;
  opacity: 0.85;
}

.chat-message {
  font-weight: 400;
}

.emoticon {
  display: inline-block;
  height: 1.5em;
  margin-top: -5px;
  margin-right: 0;
  margin-bottom: -5px;
  margin-left: 0;
  background-position: center center;
  background-repeat: no-repeat;
  vertical-align: middle !important;
}

.chat-badges {
  margin-right: 0.125em;
}

.chat-badges > div {
  display: inline-block;
  min-width: 1em;
  height: 1em;
  margin-right: 0.3em;
  margin-bottom: 1px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 2px;
  vertical-align: middle;
}

.chat-badge-admin {
  background-color: #faaf19;
  background-image: url("https://chat-badges.s3.amazonaws.com/admin.png");
}

.chat-badge-bot {
  background-image: url("https://cdn.betterttv.net/tags/bot.png");
}

.chat-badge-broadcaster {
  background-color: #e71818;
  background-image: url("https://chat-badges.s3.amazonaws.com/broadcaster.png");
}

.chat-badge-mod {
  background-color: #33ae0a;
  background-image: url("https://chat-badges.s3.amazonaws.com/mod.png");
}

.chat-badge-staff {
  background-color: #200f33;
  background-image: url("https://chat-badges.s3.amazonaws.com/staff.png");
}

.chat-badge-turbo {
  background-color: #6441a4;
  background-image: url("https://chat-badges.s3.amazonaws.com/turbo.png");
}

[class*='chat-room'] {
  font-size: 0.5em;
}

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  font-size: 14pt;
  color: white;
  overflow: hidden;
}

.error {
  width: 500px;
  padding: 10px;
  margin: auto;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  text-align: center;
  -webkit-box-shadow: 2px 2px 2px #878787;
          box-shadow: 2px 2px 2px #878787;
}

.chat {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
  color: white;
  overflow: hidden;
}

.chatmessage {
  padding: 7px;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.45);
}

.chatmessage.mixer::before, .chatmessage.twitch::before {
  display: inline-block;
  width: 15px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
}

.chatmessage.mixer::before {
  height: 10px;
  margin-right: 6px;
  background-image: url("../assets/mixer.png");
}

.chatmessage.twitch::before {
  position: relative;
  top: 2px;
  height: 14px;
  margin-right: 7px;
  background-image: url("../assets/twitch.svg");
}
